@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

.brand img{
    width: 46px;
    padding: 0px 8px ;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul li{
    padding: 0px 12px;
}

.container{
    min-height: 68vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons{
    margin-top: 13px;
}

#myProgressBar{
    width: 140vh;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80vh;
    color: black;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0px 23px;
    border-radius: 50%;
}

.timestamp{
    margin: 0px 23px;
}

.timestamp i{
    cursor: pointer;
}

.songItemContainer{
    margin-top: 70px;
}

.songInfo{
    position: absolute;
    top: 5vh;
    left: 17vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}